<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/feedback.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/aboutUs.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/overdoseTable.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/overdoseFormPopup.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dbsearchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/jquery-ui-theme/external/jquery/jquery.js"></script>
      	<script type="text/javascript" src="/jquery-ui-theme/jquery-ui.min.js"></script>
    <link href="https://unpkg.com/tabulator-tables@4.0.5/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.0.5/dist/js/tabulator.min.js"></script>
</head>
<body>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/home">Homepage</a>
        <a href="/StateVsDeath">State vs Opioid Deaths</a>
        <a href="/StateVsPop">State vs Population</a>
        <a href="/heatmap">HeatMap</a>
        <a href="/feedback">Feedback</a>
        <a href="/aboutUs">About Us</a>
        <a href="/overdose">Overdoses</a>
        <a href="/dashboard">Dashboard</a>
    </div>

<button style="float:right" onclick="openAddForm()">Add Data</button>

<div class="topnav">
  <div class="search-container">
    <form >
      <input type="text" id = "searchedState" placeholder="Search state" name="search">
      <button type="submit" id = "searchState" ><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!-- <div class="form-popup" id="myAddForm">
  <form  class="form-container">
    <h1>Add Form</h1>

    <label for="state"><b>State</b></label>
    <input type="text" id = "state" placeholder="Enter State Name" name="state" required>

    <label for="pop"><b>Population</b></label>
    <input type="text" id = "population" placeholder="Enter Population of state" name="pop" required>
    
    <label for="death"><b>Deaths</b></label>
    <input type="text" id = "death" placeholder="Enter no. of deaths caused by opm overdose" name="death" required>
    
    <label for="abbr"><b>State Abbreviation</b></label>
    <input type="text" id = "abbreviation" placeholder="Enter Abbreviation for state" name="abbr" required>

    <button type="submit" id = "submitAdd" class="btn">Add Record</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<div class="form-popup" id="myUpdateForm">
  <form  class="form-container">
    <h1>Update Form</h1>

    <label for="state"><b>State</b></label>
    <input type="text" id = "Ustate" placeholder="Enter State Name" name="state" required>

    <label for="pop"><b>Population</b></label>
    <input type="text" id = "Upopulation" placeholder="Enter Population of state" name="pop" required>
    
    <label for="death"><b>Deaths</b></label>
    <input type="text" id = "Udeath" placeholder="Enter no. of deaths caused by opm overdose" name="death" required>
    
    <label for="abbr"><b>State Abbreviation</b></label>
    <input type="text" id = "Uabbreviation" placeholder="Enter Abbreviation for state" name="abbr" required>

    <button type="submit" id = "submitUpdate" class="btn">Update Record</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> -->

<table id="DrugOverdoseTable">
        <thead>
          <tr>
            <th>State</th>
            <th>Population</th>
            <th>Deaths</th>
            <th>Abbrev</th>
            <th>Delete</th>
            <th>Update</th>
            
  
          </tr>
        </thead>
  
        <tbody>
          <% for(var i=0; i < data.length; i++) { %>
         <tr>
  
           <td><%= data[i].State %></td>
           <td><%= data[i].Population %></td>
           <td><%= data[i].Deaths %></td>
           <td><%= data[i].Abbrev %></td> 
           <td> <button id = <%= data[i].State %> onclick = "passID('<%= data[i].State %>')"> Delete </button></td>
           <td> <button id = <%= data[i].State %> onclick = "updateID('<%= data[i].State %>')"> Update </button></td>
           
  
         </tr>
      <% } %>
        </tbody>
</table>

<script>

  $( "#searchState" ).click( function( event ) {
      event.preventDefault();
      searched_state = document.getElementById("searchedState").value.toLowerCase();

       //alert("The value searched is " + searched_state);

      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "http://localhost:3000/search/" + searched_state ,
        "method": "GET",
        "headers": {
          "Content-Type": "application/json",
          "Cache-Control": "no-cache"
        }
      }

      $.ajax(settings).done(function (response) {

        if (!isEmpty(response)) {
          outputstats = "State : " + response[0].State + "\nPopulation : " + response[0].Population + 
                      "\nDeaths : " + response[0].Deaths + "\nAbbreviation : " + response[0].Abbrev;
        }else{
          outputstats = "RECORD NOT FOUND";
        }
        
        alert(outputstats);  
      });

      function isEmpty(obj) {
        for(var key in obj) {
            if(obj.hasOwnProperty(key))
                return false;
        }
            return true;
      };
  });

  function passID(clickedID) {
	 
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "http://localhost:3000/delete/"+clickedID,
      "method": "DELETE",
      "headers": {
        "Cache-Control": "no-cache"
      }
    }
  
    $.ajax(settings).done(function (response) {
      alert("DATA DELETED!");
      document.location.reload();
    });
  }

  function updateID(clickedID) {
	 
      window.open("http://localhost:3000/editoverdose/"+clickedID ,"_self");
    }

  function openAddForm() {
      window.open("http://localhost:3000/newoverdose/" ,"_self");   

  }
  </script>

<div id="table"></div>
</body>
<script type="text/javascript" src="/routes/nav.js"></script>
</html>